@model IEnumerable<MyReviewWeb.Models.Review>
@using MyReviewWeb.Models;



@{
    ViewData["Title"] = "Index";
}
<p>  </p>
@if(TempData["success"]!= null)
{
    <h2 class="text-warning ">@TempData["success"]</h2>
}

<h1>Index</h1>
<p>
    <a class="btn btn-warning" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
           
            <th>  </th>
            <th> Likes </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Link)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateDateTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                    <form asp-action="Like" asp-route-id="@item.Id">
                        <button type="submit" class="btn text-danger btn-sm "><i class="bi bi-heart-fill"> </i></button>

                    </form>
                    @* <p>_________________________________________</p>
                    <form asp-action="UnLike" asp-route-id="@item.Id">
                        <button type="submit" class="btn btn-outline-danger btn-sm"><i class="bi bi-heart-fill"></i></button>
                    </form> *@
                    
                   
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.LikesCount)

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User)
            </td>
               
            <td>
                @Html.DisplayFor(modelItem => item.Link)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateDateTime)
            </td>
            <td>
                
                    @if (item.User == User.Identity.Name)
                    {
                       
                        <div class="btn-group" role="group" >
                            <a class="btn btn-outline-primary" asp-action="Details" asp-route-id="@item.Id">Details</a>
                            <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                            <a class="btn btn-outline-primary" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                           
                        </div>
                    }
                    else
                    {
                        <a class="btn btn-outline-primary" asp-action="Details" asp-route-id="@item.Id">Details</a>
                    }
                    
            </td>
        </tr>
}
    </tbody>
</table>


